h1.apptitle {
    text-align: center;
    background-color: gold;
        border-width: 5px;
     border-color: #002830;
     border-radius: 30px 30px; 
     border-style: solid;
    color: #C03033;
}

body{
    background-image: url("../images/jaune.jpg");
    background-color: palegoldenrod;
background-repeat: repeat;


    
}
header{
    font-weight: bolder;
    font-size: 15px;
    text-align: center;
}

#block1 ul li:nth-child(2n) {
    background-color: turquoise ; 
    font-style: italic;
} 

#block1 ul li:nth-child(2n+1) { 
    background-color: gold;
    font-weight: bolder; 
}

div.block .blockcontent {
background-color:lightgoldenrodyellow;}

footer{background-color: #C03033;
       color:white;
       position:fixed;
       font-size: 20px;
       font-family: arial;
       bottom: 0px;
       text-align: center;
       vertical-align: central;
       left:20%;
       width: 60%;
       height:30px;
       border-style: double;
       border-width: 6px;
       border-color: #002830;
       border-radius: 20px 20px; 
       -webkit-transition-duration: 2s;
        -moz-transition-duration: 2s;
       -o-transition-duration: 2s;

}


footer:hover{background-color: gold;
       position:fixed;
       color:black;
       font-size: 12px;
       bottom: 0px;       
       text-align: center;
       vertical-align: central;
       left:20%;
       width: 60%;
       height:20px;
       border-width: 2px;
       border-color: #002830;
       border-radius: 20px 20px; 
       border-style: solid;
       -webkit-transition-duration: 1s;
        -moz-transition-duration: 1s;
       -o-transition-duration: 1s;

}

a[id]{
color: red;
}



a.suppr:hover {  border-style: solid; border-width: 2px; border-color: red; background-color: white;color: red;}



a[href]{color:black;}



#nav1 {
    position: absolute;
    background-color: gold;
     height: 50%;
     width:12%;
     bottom: 20%;
     text-align: center;
     vertical-align: middle;
     border-width: 5px;
     border-color: #002830;
     border-radius: 30px 30px; 
     border-style: solid;
padding: 10px 10px ;
-webkit-transition-duration: 2s;
-moz-transition-duration: 2s;
-o-transition-duration: 2s;
}

audio {
    position: absolute;

     width:18%;
top: 85%;
     left: 10px;
     -webkit-transition-duration: 2s;
-moz-transition-duration: 2s;
-o-transition-duration: 2s;
    }
    
audio:hover {
    z-index: 1;
    position: absolute;
     width:25%;
     top: 85%;
     left: 10px;
     -webkit-transition-duration: 1s;
-moz-transition-duration: 1s;
-o-transition-duration: 1s;
    }    

#nav1:hover {
    position: absolute;
     height: 60%;
     width:15%;
     text-align: center;
     vertical-align: middle;
     border-width: 5px;
     border-color:#3C90AF ;
     border-radius: 30px 30px; 
     border-style: dotted;
padding: 10px 10px ;
-webkit-transition-duration: 1s;
-moz-transition-duration: 1s;
-o-transition-duration: 1s;
}

#nav2 { right: 15px;
        bottom: 20%;
        background-color: gold;
    position: absolute;
     height: 50%;
     width:12%;
     text-align: center;
     vertical-align: middle;
     border-width: 5px;
     border-color: #002830;
     border-radius: 30px 30px; 
     border-style: solid;
padding: 10px 10px ;
-webkit-transition-duration: 2s;
-moz-transition-duration: 2s;
-o-transition-duration: 2s;
}

#nav2:hover {
    right: 15px;
    position: absolute;
     height: 60%;
     width:15%;
     text-align: center;
     vertical-align: middle;
     border-width: 5px;
     border-color:#3C90AF ;
     border-radius: 30px 30px; 
     border-style: dotted;
padding: 10px 10px ;
-webkit-transition-duration: 1s;
-moz-transition-duration: 1s;
-o-transition-duration: 1s;
}


fieldset {
    position: relative;
    width:75%;

}

#img1,#img2,#img3{
    width:42px;
    height:42px;
    border:0;
    -webkit-transition-property: width, height,ease;
    -webkit-transition-duration: 1s;
    -moz-transition-property: width, height,ease;
    -moz-transition-duration: 1s;
    -o-transition-property: width, height,ease;
    -o-transition-duration: 1s;
}
#img1:hover,#img3:hover,#img2:hover{

    width:55px;
    height:55px;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}

a.img{background-color: gold;}

#input1,#input2 {
    width: 50%;
}

#input3{
     position: relative;
}


#blockintro {                   
				text-align: left;

				position: relative;
                                width:60%;
                                left:20%;
                                right:20%;
                                bottom: 10px;
     
			}

div.block h2 {background-color:#C03033;}

#block1 {
				text-align: left;

				position: relative;
                                width:60%;
                                left:20%;
                                right:20%;
                                bottom: 10px;
     
			}
                        

                        
#block2 {
				text-align: left;
                                position: relative;
				width:60%;
                                left:20%;
                                right:20%;
                                bottom: 10px;
                              
                                
			}   
                        
                        

