body {
        background-image: url("../images/background111.jpg");
        background-repeat: repeat;
        
        }
header{        
        
        text-align: center;
        position: relative;
        height: 15px;
        width:100%;
}


h1.apptitle {
    background-image: url("../images/backgroundLien1.jpg");
    border-width:2px; 
    border-style: solid;
    border-color: #002830;
    color: #002830;
    position:relative;
    width:80%;
    bottom:5%;
}

#blockOptions{
    
        
        text-align: center;
        position: relative;
        height: 40px;
        width:100%;
        top:5px;}


        #ongletMonCompte{    
        border-width: 3px;
        border-style: solid;
        border-radius: 15px 15px;
        text-align: center;
        position: absolute;
        left:1.5%;
        width:30%;
        height:90%;
        font-size: 1.4em;
        background-image: url("../images/backgroundLien1.jpg");
        -webkit-transition-property: width, height,ease;
        -webkit-transition-duration: 1s;
        -moz-transition-property: width, height,ease;
        -moz-transition-duration: 1s;
        -o-transition-property: width, height,ease;
        -o-transition-duration: 1s;
        
        }

            #lienMonCompte {
                display:block;
                width:100%;
                height:100%;
                text-decoration: none;
            }
        

        #ongletDeposerAnnonce{    
        border-width: 3px;
        border-style: solid;
        border-radius: 15px 15px;
        text-align: center;
        position: absolute;
        left:34.5%;
        width:30%;
        height:90%;
        font-size: 1.4em;
        background-image: url("../images/backgroundLien1.jpg");
        -webkit-transition-property: width, height,ease;
        -webkit-transition-duration: 1s;
        -moz-transition-property: width, height,ease;
        -moz-transition-duration: 1s;
        -o-transition-property: width, height,ease;
        -o-transition-duration: 1s;
        }
        
            #lienDeposerAnnonce {
                display:block;
                width:100%;
                height:100%;
                text-decoration: none;
            }


            #ongletAnnonces{    
            border-width: 3px;
            border-style: solid;
            border-radius: 15px 15px;
            text-align: center;
            position: absolute;
            left:67%;
            width:30%;
            height:90%;
            font-size: 1.4em;
            background-image: url("../images/backgroundLien1.jpg");
            -webkit-transition-property: width, height,ease;
            -webkit-transition-duration: 1s;
            -moz-transition-property: width, height,ease;
            -moz-transition-duration: 1s;
            -o-transition-property: width, height,ease;
            -o-transition-duration: 1s;
}
            #lienToutesAnnonces{
                display:block;
                width:100%;
                height:100%;
                text-decoration: none;
            }

            #lienToutesAnnonces:hover, #lienDeposerAnnonce:hover, #lienMonCompte:hover {
                background-image: url("../images/backgroundLien2.jpg");
               border-radius: 15px 15px;
               
                
            }
        
            #ongletMonCompte:hover, #ongletAnnonces:hover, #ongletDeposerAnnonce:hover {
                background-image: url("../images/backgroundLien2.jpg");
                width:31%;
                height:90%;
                border-style: dashed;
                
            }
#blockRecherche{

        
        position: relative;
        height: 90px;
        width:100%;
        top:10px;
        }
        
        
        #divLogoIntegral{
        
        text-align: center;
        position: absolute;
        left:5.5%;
        width:30%;
        height:90%;
        font-size: 1.4em;
       
        }
        
        #logoIntegral{
            width:80%;
            height:100%;
            position: absolute;
            left:15%;
            
            
        }
       
        
        
        #divChoixCat {
        border-width: 3px;
        border-style: groove;
        border-radius: 10px 10px;
        text-align: center;
        position: absolute;
        left:34.5%;
        top:2%;
        width:30%;
        height:90%;
        text-align: center;
        vertical-align: central;
        background-image: url("../images/backgroundLien1.jpg");
        
        }
        
        #infoHeader {
        border-width: 3px;
        border-style: double;
        text-align: center;
        position: absolute;
        left:80%;
        top:32.5%;
        width:15%;
        height:35%;
        background-image: url("../images/background11.jpg");
}

        #infoHeader:hover{
        border-width: 3px;
        border-style: groove;
        
}

#blockPage{  
        

        position: relative;
        width: 100%;
        height:450px;
        top:15px;
}


        #navContacts{    
        border-width: 3px;
        border-style: groove;
        border-radius: 30px 30px;
        text-align: center;
        position: absolute;
        height: 80%;
        width:18%;
        bottom: 12%;
        left: 1%;
        background-image: url("../images/backgroundLien1.jpg");}
        
        #divNav{
        border-width: 3px;
        border-style: groove;
        border-radius: 10px 10px;
        background-image: url("../images/background11.jpg");
        text-align: center;
        position: relative;
        
        height: 78%;
        width:40%;
        left:30%;
        }
        
        #imgLiens {
            width:80%;
            height:18%;
        }
        
            #img1,#img2,#img3{
                position: relative;
                width:40%;
                height:12%;
                border:0;
                -webkit-transition-property: width, height,ease;
                -webkit-transition-duration: 1s;
                -moz-transition-property: width, height,ease;
                -moz-transition-duration: 1s;
                -o-transition-property: width, height,ease;
                -o-transition-duration: 1s;
}
            #img1:hover,#img3:hover,#img2:hover{
                position: relative;
                width:50%;
                height:15%;
                
}

        #blockPrincipal{    
        border-width: 3px;
        border-style: solid;
        border-radius: 25px 25px;
        
        position: absolute;
        width: 65%;
        height:80%;
        left:23%;}
        
                #content{    
                border-width: 3px;
                border-style: solid;

                position: absolute;
                width: 65%;
                height:80%;
                left:20%;}
        
                #blockAllAnnonces{
                border-width: 3px;
                border-style: solid;

                position: relative;
                width: 90%;
                height:30%;
                left:5%;
            
        }
        
                #annonceDescPrix{
            
                border-width: 1px;
                border-style: solid;

                position: relative;
                width: 70%;
                height:60%;
                left:25%;
                bottom: 30%;
        }
#titreAccueilMonCompte, #titreListeAnnonce, #titreDeposerAnnonce,
#titreFormModifAnnonce, #titreFormModifUtilisateur, #titreFormModifPassword, #titreTitreAnnonce{
    
    text-align: center;
    
}
        
        #navMarge{   

        text-align: center;
        position: absolute;
        right: 1%;
        height: 80%;
        width:10%;
        bottom: 10%;
        }
